<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= blog.title %></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        <header
            class="horizontal sticky top-0 py-2.5 px-5 z-50 bg-white/90 shadow-sm backdrop-blur-lg"
        >
            <div class="flex justify-between items-center gap-8">
                <div class="horizontal-logo items-center flex-shrink-0">
                    <% if (blog.logoImage) { %>
                    <img
                        src="<%= blog.logoImage %>"
                        alt="<%= blog.title %>"
                        class="size-8 object-cover rounded"
                    />
                    <% } else { %>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        strokeWidth="{1.5}"
                        stroke="currentColor"
                        class="size-8"
                    >
                        <path
                            strokeLinecap="round"
                            strokeLinejoin="round"
                            d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"
                        />
                    </svg>
                    <% } %>
                </div>
                <div
                    class="font-bold text-lg text-nowrap overflow-hidden text-ellipsis"
                >
                    <%= blog.title %>
                </div>
                <div></div>
            </div>
        </header>

        <div class="container mx-auto p-4">
            <div
                class="grid grid-cols-1 gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 lg:mt-12 xl:gap-12"
            >
                <% blog.posts.forEach((post) =>{ %>
                <div class="shadow p-2 rounded-lg">
                    <a href="<%= prefix %>/<%= post.slug %>" target="_self">
                        <div
                            class="article-cover aspect-w-2 aspect-h-1 relative block overflow-hidden shadow-md rounded-lg"
                        >
                            <img
                                class="h-full w-full object-cover"
                                src="<%= post.heroImage %>"
                                alt="<%= post.title %>"
                            />
                        </div>
                        <div
                            class="flex flex-wrap items-center gap-x-3 gap-y-2 mt-4"
                        >
                            <span class="text-sm">
                                <% const formattedDate = new
                                Date(post.createdAt)
                                .toLocaleDateString('en-US', { month: 'short',
                                day: '2-digit', year: 'numeric' }); %>
                                <time dateTime="<%= post.createdAt %>">
                                    <%= formattedDate %>
                                </time>
                            </span>
                        </div>
                        <h3
                            class="article-title text-xl font-semibold tracking-tight sm:line-clamp-2"
                        >
                            <%= post.title %>
                        </h3>
                    </a>
                </div>
                <% }); %>
            </div>
            <% if (blog.posts.length < 1) { %>
                <p class="text-xl text-center">There are no blog posts yet.</p>
            <% } %>
        </div>
    </body>
</html>
